        <title>
         {%block title %}  
         {{title}} 
         {% endblock %}
        </title>
{% block content %}

 <form method="post">
{% csrf_token %}
    {{form}}
    <button>editar Tarea</button>
 </form>
{% endblock %}