{%load static%}
<html>
<head>
    <title>
     {%block title %}  
     {{title}} 
     {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
    <body>
    {% block content %}
      <div id="login">
        <form action="/my-handling-form-page" method="post">
          <label>Email </label>
        </br>
          <input type="email" id="mail" name="user_mail">
        </br>
          <label>password </label>
        </br>
          <input type="password" id="passwd" name="password">
      </br>
          <input type="submit" value="login">
          <p>
            no tienes cuenta </p>
            <a href="">registrate </a>
        </form>
      </div>
    {% endblock  %}
    </body>
</html>