{%load static%}
<html>
    <head>
        <title>
         {%block title %}  
         {{title}} 
         {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        {% block content %}
          <div id="registrer">
            <form  method="post">
                {% csrf_token %}

                {{form.as_p}}

            
                <input type="reset" value="limpiar">
                <input type ="submit" value="Registrar">
            </form>
          </div>
        {% endblock  %}
        </body>


</html>