*{
    
}
body{
    padding: 0px;
    margin: 0px;
    border:none;
    width: 100%;
}
#login{
    
    float: none;
    margin: 50px auto;
    height: 220px;
    width: 250px ;
    border: 4px solid black;
    text-align: center;
    bottom: 4px;
    right: 43px;
    padding:20px;
    
}
#login  form input[type="submit"]{
    background-color: #0e9cc0;
    color: black;
    border-radius: 20%;
}
#login  form input[type="submit"]:hover{
    background-color: #12819c;
    color: black;
    border-radius: 20%;
    height: 20%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    
}
#login  form input[type="submit"]{
    background-color: #20d2ff;
    color: black;
    border-radius: 20%;
    height: 20%;
    width: 80px;
    
}
#login  form input[type="password"]{
   margin-top: 5px;
    margin-bottom: 15px;
}
#login  form input[type="email"]{
    margin-top: 5px;
    margin-bottom: 15px;
 }
#login a{
 color: purple;
}
#login a:hover{
    color: rgb(214, 253, 38);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
   }



br{
    padding: 10 px;
}
